<%- include('includes/head.ejs')%>
<body>
    <%- include('includes/navigation.ejs')%>

    <main>
        <h1 class="centered">Oops!</h1>
        <p class="centered">That page cannot be found.</p>
    </main>
</body>
</html>